/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background-color: #f9f9ff;
    color: #333;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
}

.navbar a{
    text-decoration: none;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #001F3F;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: all 0.2s;
}
.nav-links a:hover{
    color: #EAD8B1;
    margin: 0px 5px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.get-started-btn {
    padding: 10px 20px;
    background-color: #001F3F;
    color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    border: 2px solid #001F3F;
    transition: all 0.2s;
}

.get-started-btn:hover{
    padding: 10px 20px;
    border: 2px solid #EAD8B1;
    border-radius: 20px;
    color: #fff;
    background-color: #EAD8B1;
}

.login-btn {
    padding: 10px 20px;
    border: 2px solid #001F3F;
    border-radius: 20px;
    color: #001F3F;
    transition: all 0.2s;
    background-color: #fff;
}

.login-btn:hover{
    padding: 10px 20px;
    background-color: #EAD8B1;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #EAD8B1;
}

/* Container for profile icon and hamburger */
.right-menu {
    display: flex;
    align-items: center;
    gap: 20px; /* Controls the space between profile icon and hamburger */

}


/* Profile Icon */
.profile-icon {
    display: none;
    width: 30px;
    height: 30px;
}

.profile-icon img {
    width: 100%;
    height: 100%;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.hero {
    padding: 50px 50px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: url(images/team.jpg);
    background-size: 130%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity to control darkness */
}



.hero h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.3;
}

.hero p {
    font-size: 16px;
    color: #888;
    margin: 0 auto 40px auto; /* Centers the paragraph and adds bottom margin */
    line-height: 1.6;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between buttons */
}

.btn {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
}

.btn.primary {
    background-color: #001F3F;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #001F3F;
}

.btn.primary:hover{
    background-color: #EAD8B1;
    color: #fff;
    border: 2px solid #EAD8B1;
}

.btn.secondary {
    background-color: #fff;
    color: #001F3F;
    border: 2px solid #001F3F;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.btn.secondary:hover{
    background-color: #EAD8B1;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #EAD8B1;
}

/* Features Section Styling */
.features-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9ff;
    margin-bottom: 150px;
}

.features-section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #3c3c60;
    margin-bottom: 20px;
}

.features-section p {
    font-size: 16px;
    color: #888;
    max-width: 600px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.feature-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: all 0.2s ease-in-out; /* Smooth transition */
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    cursor: pointer;
}

/* Hover state */
.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.feature-card h3 {
    font-size: 20px;
    color: #3c3c60;
    margin-bottom: 15px;
}

.feature-card p {
    font-size: 14px;
    color: #888;
    line-height: 1.6;
}


/* Split Section Styling */
.feature-split-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px; /* Space between text and image */
    margin-bottom: 150px;
}

.feature-text-column {
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-heading {
    font-size: 32px;
    font-weight: bold;
    color: #3c3c60;
    margin-bottom: 20px;
    line-height: 1.3;
}

.feature-description {
    font-size: 16px;
    color: #888;
    margin-bottom: 30px;
    line-height: 1.6;
}


.feature-image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.feature-cta-buttons {
    display: flex;
    gap: 20px; /* Space between buttons */
}

.feature-btn {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.feature-btn-primary {
    background-color: #001F3F;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.feature-btn-secondary {
    background-color: #fff;
    color: #001F3F;
    border: 2px solid #001F3F;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.feature-btn:hover {
    background-color: #EAD8B1; /* Darker shade for hover */
}

.feature-btn-secondary:hover {
    background-color: #EAD8B1;
    border: 2px solid #EAD8B1;
}

/* Account Split Section Styling */
.account-split-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    width: 100vw;
    margin: 0 auto;
    gap: 50px; /* Space between image and text */
    background-color: #f4f4ff;
    border-radius: 15px;
}

.account-image-column img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    opacity: 0;
}

.account-image-column{
    background-image: url(images/account.jpg);
    background-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.account-text-column {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.account-heading {
    font-size: 28px;
    font-weight: bold;
    color: #3c3c60;
    margin-bottom: 20px;
    line-height: 1.3;
}

.account-description {
    font-size: 16px;
    color: #888;
    margin-bottom: 30px;
    line-height: 1.6;
}

.account-cta-buttons {
    display: flex;
    gap: 20px; /* Space between buttons */
}

.account-btn {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.account-btn-primary {
    background-color: #001F3F;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.account-btn-secondary {
    background-color: #fff;
    color: #001F3F;
    border: 2px solid #001F3F;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.account-btn-primary:hover {
    background-color: #EAD8B1; /* Darker shade for hover */
}

.account-btn-secondary:hover {
    background-color: #EAD8B1;
    border: 2px solid #EAD8B1;
}


/* Footer Styles */
.footer {
    background-color: #001F3F;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    transition: all 0.2s;
}

.footer-links li a:hover {
    color: #fff;
    margin: 0 2px;
}

.footer-social {
    display: flex;
    gap: 15px;
    color: #fff;
}

.footer-social a img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
    color: #fff;
}

.footer-social a:hover img {
    opacity: 0.7;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}

.footer-social a img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1); /* Makes the icons white */
    transition: opacity 0.3s;
}

.footer-social a:hover img {
    opacity: 0.7;
}



/* Media Query: Stacking the layout for smaller screens */
@media (max-width: 900px) {
    .account-split-section {
        flex-direction: column;
        text-align: center;
    }


    .account-image-column,
    .account-text-column {
        max-width: 100%;
    }

    .account-image-column {
        margin-bottom: 30px;
    }
}


/* Media Query: Stacking the layout for smaller screens */
@media (max-width: 900px) {
    .feature-split-section {
        flex-direction: column;
        text-align: center;
    }

    .feature-text-column,
    .feature-image-column {
        max-width: 100%;
    }


    .feature-image-column {
        display: none;
    }

    .feature-text-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}


@media (max-width: 1150px){
    .features-grid{
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
    }
    .hero{
        background-size: 170%;
    }
}


/* Mobile View: Hide nav links under 800px */
@media (max-width: 800px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        right: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
    }

    .nav-links.show {
        display: flex;
    }

    .navbar {
        justify-content: space-between;
    }

    .hamburger {
        display: flex;
    }

    .auth-buttons {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
    .auth-buttons {
        display: none;
    }

    .profile-icon {
        display: block;
    }

    .hero{
        background-size: 300%;
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 500px;
    }
    .hero{
        background-image: none;
        background-color: #000c18;
    }
}












@keyframes shine {
    0% {
        background: linear-gradient(120deg, transparent 50%, #001F3F 50%);
        background-size: 200% 200%;
        background-position: 200% 0%;
    }
    100% {
        background: #001F3F; /* Full gradient cover at the end */
        background-position: 0% 0%;
    }
}